<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Barra de Progreso
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuewnow]="porcentaje" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje +'%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="menos(5)" type="button">
                        <i class="mdi mdi-minus"></i>
                      </button>
                    </span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="mas(5)">
                          <i class="mdi mdi-plus"></i>
                      </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>